<style>
.battlemap{
width:100%;
text-align: center;
border: 1px solid red;
}
.cell{
  width:20px;
  height: 20px;
}

.control div{
  border:1px solid blue;
  width:50px;
  height:50px;
  float:left

}
</style>


  <div class='battlemap'><canvas align="left" id="map" width="600" height="600"></canvas></div>



<div class=control>
  <div class="top" >
    Вверх
  </div>
  <div class="bottom">
    Вниз
  </div>
  <div class="left">
    Лево
  </div>
  <div class="right">
    Право
  </div>
</div>
